# Do not send version control to docker daemon
.git
.gitignore
/log/.gitignore

# Documentation files
LICENSE.md
README.md
doc

# Editor configurations
.vscode
.devcontainer
.editorconfig

# CI
.circleci

# Build directories
/backend/build
/frontend/build
app.js
