@nice-blue: #5B83AD;
@light-blue: @nice-blue + #111;

header {

}

main {
  margin: 2em;
  padding: 1em;
  border: 1px solid @nice-blue;
  display: inline-block;
}

.show-selector {
  display: inline-block;
  vertical-align: top;
  width: 10em;

  ul {
    list-style-type: none;
    padding: 0;
  }
}

.main-area {
  display: inline-block;
  vertical-align: top;
  width: 25em;
}
